   <!-- css -->
<header>
   
   <link rel="stylesheet" href="/styles/style.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Outfit&display=swap" rel="stylesheet">

   <nav class="shadowed">
       <div>
           <a href="/" class="heading-4 font1 text-color">
               <svg class="menu-img calendar" alt="calendar"></svg>
                Today
           </a>
           
           <a href="/worklist" class="heading-4 font1 text-color">
               <svg class="menu-img briefcase" alt="briefcase"></svg>
                Work list
           </a>              

       </div>
   </nav>

</header>